.set-color {
  bottom: 0;
  position: fixed;
  right: 0;
  z-index: 10;

  .d-flex {
    flex-direction: column;
  }
}

.rm {
  &.breadcrumb-item {
    &:last-child {
      display: none;
    }
  }
}
