<div class="v-widget mb-3">
  <div class="v-widget__avatar">
    <img src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-9/48963801_1397622853714185_5423695748044685312_n.jpg?_nc_cat=105&_nc_eui2=AeEI-5JXuwQWsbwpkinxculob-3HnCJqMFRfx_kJ5-8xQDWqfTCGPbsXhFNfgR2fFf_Rl4D8VkGagVvb5vgdoygUlyXb9RAvJYAp3BVLj3YTMQ&_nc_oc=AQls1oWiUC_OOzubzacedMCxr7rggzqSYasYhbxXiFFcH5xVzrIq3DQ0Jg_mjlv840M&_nc_ht=scontent.fdad1-1.fna&oh=638b2b55f2fdf66c1c17a90810afc6a9&oe=5CBEBCE1" alt="">
  </div>

  <div class="v-widget__heading mt-2">
    <h6 class="text-uppercase mb-0 text-center">Hiếu Trần</h6>
  </div>
</div>

<app-v-widget-category [asides]="asides"></app-v-widget-category>
