<div class="mt-section mt-infor" id="infor">
  <div class="container mt-container text-center">
    <div class="d-flex mt-infor__wrp justify-content-between align-items-center">
      <div class="mt-infor__left" [style.backgroundImage]="'url('+ infor.img_url_first_person_sm +')'">
      </div>
      <div class="mt-infor__center">
        <h2>
          {{infor.first_name_per_1}} <br>
          & <br>
          {{infor.first_name_per_2}}
        </h2>
      </div>
      <div class="mt-infor__right" [style.backgroundImage]="'url('+ infor.img_url_second_person_sm +')'">
      </div>
    </div>
  </div>
</div>
