.mt-slider-3 {
  &__line-top {
    margin-bottom: 35px;
  }

  &__line-bottom {
    margin-top: 35px;
  }

  h4 {
    font-size: 24px;
  }

  h2 {
    font-family: 'dancing';
    font-size: 70px;
  }
}
