<div class="mt-slider mt-slider-3" id="slider" [style.backgroundImage]="'url('+ imgCover.image +')'">
  <div class="mt-cover"></div>

  <div class="container mt-container text-center text-white">
    <div class="mt-slider__middle">
      <p class="mt-slider-3__line-top">
        <img src="assets/images/decor/line_bottom.png" alt="">
      </p>

      <h4>My Love For You Is a Journey</h4>

      <h2 class="mb-0">We're Married</h2>

      <p class="mb-0 mt-slider-3__line-bottom">
        <img src="assets/images/decor/line_bottom.png" alt="">
      </p>
      <!-- <div class="mt-slider-2__subtitle">
        {{couple.first_name_per_1}} &amp; {{couple.first_name_per_2}} <br>
        {{ mainEvent.start_date_string }}
      </div> -->
    </div>
  </div>
</div>
