<!-- <div class="mt-slider mt-slider-2" id="slider" [style.backgroundImage]="'url('+ imgCover.image +')'">
  <div class="mt-cover"></div>

  <div class="container mt-container text-center text-white">
    <div class="mt-slider__middle">
      <p>
        <img src="assets/images/animations/ourwedding_gold.gif" alt="">
      </p>

      <div class="mt-slider-2__subtitle">
        {{couple.first_name_per_1}} &amp; {{couple.first_name_per_2}} <br>
        {{ mainEvent.start_date_string }}
      </div>
    </div>
  </div>
</div> -->

<div class="mt-slider mt-slider-2" id="slider" [style.backgroundImage]="'url('+ imgCover.image +')'">
  <div class="mt-cover"></div>

  <div class="container mt-container text-center text-white">
    <div class="mt-slider__middle">
      <div class="mt-slider__decor-frame">
        <div class="mt-slider-1__left">
          <h4>{{ couple.first_name_per_1 }}</h4>
          <b>Save The Date</b>
        </div>

        <div class="mt-slider-1__right">
          <h4>{{ couple.first_name_per_2 }}</h4>
          <b>{{ mainEvent.start_date_string }}</b>
        </div>

        <img [src]="couple.img_url_sm" alt="">
      </div>
    </div>
  </div>
</div>
