.temp-form {
  margin: 0 auto;
  width: 80%;

  .col-form-label {
    text-align: right;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  @media (max-width: 575px) {
    .col-form-label {
      text-align: left;
    }
  }
}
