@font-face {
  font-family: 'dancing';
  src: url('/assets/fonts/DancingScript-Regular.ttf');
}

@font-face {
  font-family: 'sedgwickAve';
  src: url('/assets/fonts/SedgwickAve-Regular.ttf');
}

@font-face {
  font-family: 'sedgwickAveDisplay';
  src: url('/assets/fonts/SedgwickAveDisplay-Regular.ttf');
}


@font-face {
  font-family: 'srisakdi';
  src: url('/assets/fonts/Srisakdi-Regular.ttf');
}

@font-face {
  font-family: 'srisakdi-bold';
  src: url('/assets/fonts/Srisakdi-Bold.ttf');
}

@font-face {
  font-family: 'pacifico';
  src: url('/assets/fonts/Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'arimaMadurai';
  src: url('/assets/fonts/ArimaMadurai-Regular.ttf');
}

@font-face {
  font-family: 'farsan';
  src: url('/assets/fonts/Farsan-Regular.ttf');
}

@font-face {
  font-family: 'sairaCondensed';
  src: url('/assets/fonts/SairaCondensed-Regular.ttf');
}
