// Common color
$col-gray: #c2c2c2;
$col-light-gray: #c5cace;
$col-white: #fff;
$col-black: #333;
// $col-main: #ee49a3;
// $col-pink: #ee49a3;
// $col-yellow: #eda22a;
// $col-blue: #36a3f7;
// $col-yellow-brown: #a89a6b;
$col-green: #00aea7;
$col-red: #fc5554;
$col-yellow: #fbcc3e;
$col-blue: #189bd8;
$col-light-blue: #00e6f0;
$col-pink: #c44065;
$col-pink-pastel: #edaaaf;
$col-dark-pink-pastel: #b88ea1;
$col-dark-pink-pastel-2: #a0778a;

// Background
$bg-green: #00aea7;
$bg-green-hover: #1a958b;
$bg-red: #fc5554;
$bg-red-hover: #fc3a3a;
$bg-yellow: #fbcc3e;
$bg-blue: #189bd8;
$bg-blue-hover: #168cc1;
$bg-light-blue: #00e6f0;
$bg-light-blue-hover: #00d5df;
$bg-pink: #e2738c;
$bg-pink-hover: #dc5271;
$bg-pink-pastel: #edaaaf;
$bg-white: #fff;
$bg-white-hover: #c5cace;
$bg-lighter-brown: #f4f4f4;

// Text
$txt-green: #00aea7;
$txt-green-hover: #1a958b;
$txt-red: #fc5554;
$txt-red-hover: #fc3a3a;
$txt-yellow: #fbcc3e;
$txt-blue: #189bd8;
$txt-blue-hover: #168cc1;
$txt-light-blue: #00e6f0;
$txt-light-blue-hover: #00d5df;
$txt-pink: #c44065;
$txt-pink-hover: #dc5271;
$txt-pink-pastel: #edaaaf;
$txt-dark-pink-pastel: #b88ea1;
$txt-white: #fff;
$txt-black: #333;
$txt-brown: #484848;
$txt-brown-hover: #797676;

// Button
$btn-pink: #e2738c;
$btn-pink-hover: #dc5271;
$btn-pink-focus: rgba(226, 115, 140, .58);
$btn-pink-disabled: #e498a9;

// Button of vendor
$btn-info: #00e6f0;
$btn-info-hover: #00d5df;
$btn-info-focus: rgba(31, 226, 234, .54);
$btn-primary: #189bd8;
$btn-primary-hover: #168cc1;
$btn-primary-focus: rgba(22, 140, 193, .62);
$btn-success: #00aea7;
$btn-success-hover: #1a958b;
$btn-success-focus: rgba(40, 167, 69, .5);
$btn-danger: #fc5554;
$btn-danger-hover: #fc3a3a;
$btn-danger-focus: rgba(220, 53, 69, .5);
$btn-gray: #d9d9d9;
$btn-gray-hover: #b9b9b9;
$btn-gray-focus: rgba(185, 185, 185, .27);

// font size
$font-xs: 11px;
$font-sm: 13px;
$font-md: 14px;
$font-lg: 16px;
$font-xl: 18px;

// Main color
$col-main-yellow-brown: #a89a6b;
$title: #a9a392;

// element
$under-line: #e5e5e5;
$body: #eff0f0;
$pc-bg-header: rgba(36, 38, 39, .8);
$sp-bg-header: rgba(36, 38, 39, 1);
$box-shadow: #ccc;
$breadcrumb: #bfbfbf;
$border: #f0f0f0;

// Master template
