.dropdown-menu {
  min-width: 115px;
  top: 17px !important;
}

.v-card {
  @media (max-width: 575px) {
    &__ctn {
      span {
        display: block;
      }
    }
  }

  @media (min-width: 381px) {
    &__item {
      flex: 0 0 50%;
    }
  }
}
