<div class="mt-section mt-infor" id="infor">
  <div class="container mt-container text-center">
    <div class="gla_auto_height">
      <div class="d-flex mt-infor__lg-block">
        <div class="mt-infor__sm-block">
          <div class="mt-infor__wrp-block">
            <h2>{{ infor.name_first_person }}</h2>
            <p>{{ infor.description_first_person }}</p>

            <!-- Social Buttons -->
            <div class="mt-infor__social">
              <a href="#"><i class="fa fa-facebook-square mt-infor__icon-box"></i></a>
              <a href="#"><i class="fa fa-instagram mt-infor__icon-box"></i></a>
              <a href="#"><i class="fa fa-google mt-infor__icon-box"></i></a>
            </div>
          </div>
        </div>

        <div class="mt-infor__sm-block" [style.backgroundImage]="'url('+ infor.img_url_first_person_sm +')'"></div>
      </div>

      <div class="d-flex mt-infor__lg-block">
        <div class="mt-infor__sm-block">
          <div class="mt-infor__wrp-block">
            <h2>{{ infor.name_second_person }}</h2>
            <p>{{ infor.description_second_person }}</p>

            <!-- Social Buttons -->
            <div class="mt-infor__social">
              <a href="#"><i class="fa fa-facebook-square mt-infor__icon-box"></i></a>
              <a href="#"><i class="fa fa-instagram mt-infor__icon-box"></i></a>
              <a href="#"><i class="fa fa-google mt-infor__icon-box"></i></a>
            </div>
          </div>
        </div>

        <div class="mt-infor__sm-block" [style.backgroundImage]="'url('+ infor.img_url_second_person_sm +')'"></div>
      </div>




      <!-- <div class="col-md-6">
        <div class="d-flex">
          <div class="mt-infor__block">
            <div class="mt-infor__wrp-block">
              <h2>{{ infor.name_first_person }}</h2>
              <p>{{ infor.description_first_person }}</p>

              <div class="mt-infor__social">
                <a href="#"><i class="fa fa-facebook-square mt-infor__icon-box"></i></a>
                <a href="#"><i class="fa fa-instagram mt-infor__icon-box"></i></a>
                <a href="#"><i class="fa fa-google mt-infor__icon-box"></i></a>
              </div>
            </div>
          </div>

          <div class="mt-infor__block" [style.backgroundImage]="'url('+ infor.img_url_first_person_sm +')'"></div>
        </div>
      </div> -->

      <!-- <div class="col-md-6 mt-infor__block">
        <div class="mt-infor__wrp-block">
          <h2>{{ infor.name_first_person }}</h2>
          <p>{{ infor.description_first_person }}</p>
          <div class="mt-infor__social">
            <a href="#"><i class="fa fa-facebook-square mt-infor__icon-box"></i></a>
            <a href="#"><i class="fa fa-instagram mt-infor__icon-box"></i></a>
            <a href="#"><i class="fa fa-google mt-infor__icon-box"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-infor__block" [style.backgroundImage]="'url('+ infor.img_url_first_person_sm +')'">
      </div>

      <div class="col-md-6 mt-infor__block" [style.backgroundImage]="'url('+ infor.img_url_second_person_sm +')'">
      </div>
      <div class="col-md-6 mt-infor__block" >
        <div class="mt-infor__wrp-block">
          <h2>{{ infor.name_second_person }}</h2>
          <p>{{ infor.description_second_person }}</p>

          <div class="mt-infor__social">
            <a href="#"><i class="fa fa-facebook-square mt-infor__icon-box"></i></a>
            <a href="#"><i class="fa fa-instagram mt-infor__icon-box"></i></a>
            <a href="#"><i class="fa fa-google mt-infor__icon-box"></i></a>
          </div>
        </div>
      </div> -->
  </div>
  </div>
</div>
