
<div class="v-arv-box" [hidden]="breadcrumbList.length > 0 && breadcrumbList[breadcrumbList.length-1].name === 'home'">
  <div class="container">
    <div class="v-arv-box__single" *ngIf="breadcrumbList.length === 1">
      <span>browsing category</span>
      <h3>{{ breadcrumbList[breadcrumbList.length-1].name }}</h3>
    </div>

    <div class="v-arv-box__multiple" *ngIf="breadcrumbList.length > 1">
      <h4 class="mb-0 text-uppercase">{{ breadcrumbList[breadcrumbList.length-1].name }}</h4>

      <ol class="breadcrumb p-0 mb-0">
        <li class="breadcrumb-item"
          *ngFor="let item of breadcrumbList; let i = index"
          [class.active]="i===breadcrumbList.length-1">
          <a href="javascript:void(0)"
            (click)="breadcrumbEvent(item.path)"
            *ngIf="i!==breadcrumbList.length-1"
            class="text-uppercase">
            {{ item.name }}
          </a>
          <span *ngIf="i===breadcrumbList.length-1" class="text-uppercase">{{ item.name }}</span>
        </li>
      </ol>
    </div>
  </div>
</div>
